.codenames-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  width: 750px;
  height: 750px;
  margin: 0 auto;
}